{% extends 'inicio.html' %}

{% load static %}

{% block herencia %}
    
    <h1>Listado de Libros:</h1>
        <ul>
        {% for l in libros %}
            <li>
                <p>Titulo: {{ l.tituloLibro }}</p>
                <p>Autor: {{ l.autor }}</p>
                <p>Edición: {{ l.edicion }}</p>
                <p>Genero: {{ l.genero }}</p>
                <p>Editorial: {{ l.editorial }}</p>
                <p>Disponible: {{ l.disponible }}</p> 
                {% if l.tapaLibro %}
                <p><img src="{{ l.tapaLibro.url }}" width="100"></p>
                {% endif %}

                <button><a href="{% url 'EliminarLibro' l.tituloLibro %}">Borrar</a></button>
                <button><a href="{% url 'EditarLibro' l.tituloLibro %}">Editar</a></button>
                <br>
            </li>
        {% endfor %}

        </ul>
        <p>
            <a href="formularioLibro">Agregar</a>
        </p>

{% endblock %}